[submodule "subdirectories/langsmith-cookbook"]
	path = subdirectories/langsmith-cookbook
	url = https://github.com/langchain-ai/langsmith-cookbook.git
	branch = main
[submodule "subdirectories/langsmith-sdk"]
	path = subdirectories/langsmith-sdk
	url = https://github.com/langchain-ai/langsmith-sdk
